@charset "utf-8";
/* CSS Document */

.fntlrg p {
    font-size: 19px;
    line-height: 30px;
    font-weight:300;
    font-family: 'Neue Frutiger W01', sans-serif;
    color: #58585a;
    font-style: oblique;
    text-align: justify;
}
.fntlrg h2 {
    font-size: 30px;
    font-family: 'Neue Frutiger W01', sans-serif;
    font-weight: 300;
    line-height: 30px;
    color: #58585a;
    margin-top: 40px;
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 11px;
}
.fntlrg label {
    font-size: 19px;
    line-height: 30px;
    font-weight:500;
    font-family: 'Neue Frutiger W01', sans-serif;
    color: #58585a;
    text-align: justify;
}


.fntlrg .form-control {
    display: block;
    width: 80% !important;
    padding: 15px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: none !important;  
    border-radius: 0 !important;
    height: 46px;
}
.fntlrg textarea.form-control {
    height: 180px;
    width: 100% !important;

}
.fntlrg .btn_1.medium {
    padding: 20px 25px !important;
    font-size: 14px;
    float: right;
    width: 35%;
    text-align: center;
    padding: 15px 0;
}
.fntlrg .btn_1 {
    border: none;
    font-size: 24px !important;
    line-height: 30px;
    font-weight:500;
    font-family: 'Neue Frutiger W01', sans-serif !important;
    color: #fff;
    background:#ee3668 !important;
    cursor: pointer;
    padding: 7px 20px;
    display: inline-block;
    outline: none;
    font-size: 12px;
    border-radius:0 !important;
    text-transform:capitalize !important;
}
.fntlrg .row {
    margin-top: 20px;
    margin-bottom: 20px;
}
.row.frm-btn {
    margin-top: 30px;
    margin-bottom: 40px;
}
footer.nwftr {

    color: #aaa;
    padding: 30px 0 10px 0;
    border-top: 1px solid;
}
footer.nwftr h3 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
}
footer.nwftr a {
    color: #aaa !important;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Neue Frutiger W01', sans-serif !important;
}
.footer-bar #social_footer ul li a {
    color: #fff;
    text-align: center;
    line-height: 34px;
    display: block;
    font-size: 16px;
    width: 35px;
    height: 35px;
    border: 1px solid rgb(138, 138, 138);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.footer-bar #social_footer {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 30px;
    margin-top: 30px;
}

.footer-bar #social_footer p {
    font-size: 12px;
    color: #8c8c8c;
}

.footer-bar #social_footer ul {
    margin: 0;
    padding: 0 0 10px 0;
    text-align: center;
}

.footer-bar #social_footer ul li {
    display: inline-block;
    margin: 0 5px 10px 5px;
}

.footer-bar #social_footer ul li a {
    color: #333 !important;
    text-align: center;
    line-height: 34px;
    display: block;
    font-size: 16px;
    width: 35px;
    height: 35px;
    border: 1px solid #333333;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.footer-bar #social_footer ul li a:hover {
    border: 1px solid #fff;
    background: #fff;
    color: #111;
}
.footer-bar {
    border-top: 1px solid #333;
}
.footer-bar #social_footer p {

    font-size: 18px;
    font-weight: 400;
    font-family: 'Neue Frutiger W01', sans-serif !important;
}
.slid-txt {
    text-align: center;

}
.slid-txt span {
    text-align: center;
    font-size: 35px;
    font-family: 'Neue Frutiger W01', sans-serif !important;
    padding: 10px;
    line-height:50px;
    font-style:oblique;
}
.slid-txt h1 {
    font-size: 90px !important;
    font-family: 'Neue Frutiger W01', sans-serif !important;
    font-weight: normal;
    color: #fff;
    margin: 0;
    text-shadow: 4px 2px 8px #333;

}
section.brdcrmb {
    position: relative;
    min-height: 40px;
    clear: both;
    top: 75px;
    background: #fff;
    z-index: 9999;
}
ul.brdcrm li a {
    color: #757575;
    font-size: 18px;
}
ul.brdcrm {
    padding: 30px 24px 15px;
    list-style: none;
}
.parallax-content-2 {
    position: absolute;
    left: 0;
    top: 220px !important;
    z-index: 999;
    padding: 18px 0 20px 0;
    color: #fff;
    font-size: 13px;
    width: 100%;
    background: none;
}
.parallax-content-2 div {
    text-shadow:4px 2px 8px #333;
}
.parallax-content-2 div h1 {
    text-transform: inherit;
    text-shadow:4px 2px 8px #333;
}
.box_style_1.nwbx-style {
    background: #fff;
    padding:10px 30px;

}
.box_style_1.nwbx-style h4 {
    text-align: center;
    font-size: 35px;
    font-family: 'Neue Frutiger W01', sans-serif !important;
    text-transform:capitalize;
    font-weight:300;
    padding-bottom: 15px;
    color:#6f6f6f;
}

.box_style_1.nwbx-style label {
    font-size: 19px;
    line-height: 30px;
    font-weight:300;
    font-family: 'Neue Frutiger W01', sans-serif;
    color: #8e8e8e;
    text-align: justify;
    text-transform:capitalize;
    padding: 10px 0px 5px;
}
.box_style_1.nwbx-style .form-control {
    display: block;
    width: 100% !important;
    padding: 15px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: none !important;  
    border-radius: 0 !important;
}
.col-md-5.no-pad {
    padding: 0;
}
.box_style_1.nwbx-style .btn_1.medium {
    padding: 20px 25px !important;
    font-size: 14px;
    float: right;
    text-align: center;
    padding: 15px 0;
}
.box_style_1.nwbx-style .btn_1 {
    border: none;
    font-size: 24px !important;
    line-height: 30px;
    font-weight:500;
    font-family: 'Neue Frutiger W01', sans-serif !important;
    color: #fff;
    background:#ee3668 !important;
    cursor: pointer;
    padding: 7px 20px;
    display: inline-block;
    outline: none;
    font-size: 12px;
    border-radius:0 !important;
    text-transform:capitalize !important;
}
.box_style_1.nwbx-style p {
    font-size: 15px;
    text-transform: none;
    font-style: oblique;
    color: #666;
    text-shadow:none;
}
.row.tpfrm-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}
.titl-nwstl h3 {
    font-size: 46px !important;
    margin-bottom: 5px;
    color: #fff;
    text-transform: initial !important;
    text-shadow: 4px 2px 8px #333;
    font-family: "Neue Frutiger W01";
    font-weight: 300 !important;
}
.titl-nwstl span {
    font-weight: 500;
    font-style: oblique;
    font-size: 18px;
    margin-top: 20px;
    line-height: 35px;
}

#herocontact {
    position: relative;
    height: 700px;
    background: #4d536d url(../img/contact-top-banner.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    width: 100%;
    font-size: 16px;
    display: table;
    z-index: 99;
    text-align: center;
    text-transform: uppercase;
}

.row.abts h2.text-center {
    padding-bottom: 30px;
    font-size: 42px;
    font-weight: 300;
    font-family: 'Neue Frutiger W01';
}
.abts h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    font-family: 'Neue Frutiger W01';
}
.row.abts p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    font-style: oblique;
    font-family: 'Neue Frutiger W01';
}
.row.abts p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    font-style: oblique;
    font-family: 'Neue Frutiger W01';
    text-align: justify;
    padding: 5px 40px 5px 0;
}
.row.bnfts h2.text-center {
    padding-bottom: 30px;
    font-size: 42px;
    font-weight: 300;
    font-family: 'Neue Frutiger W01';
}
.row.bnfts .feature1 i {
    margin: 0;
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 0;
    margin: 0;
    line-height: 0;
    text-align: center;
    border-radius: 0 !important;
    border:0 !important;
    font-size: 44px !important;
    color: #818286 !important;
    font-weight: 900;
}
.row.bnfts .feature1 {
    box-shadow:none !important;
    padding: 5px 15px 15px 100px !important;
}
.mn-benf {
    background: #f3f3f5;
}
.row.bnfts h3 {
    font-weight: bold;
    color: #818286;
}
.row.bnfts .feature1 p {
    font-size: 17px;
    font-weight: 300;
    font-family: 'Neue Frutiger W01';
    line-height: 24px;
}


.box_style_1.nwbx-style2 {
    background: #fff;
    padding:10px 30px;

}
.box_style_1.nwbx-style2 h3 {
    text-align: center;
    font-size: 35px;
    font-family: 'Neue Frutiger W01', sans-serif !important;
    text-transform:capitalize;
    font-weight:300;
    padding-bottom: 15px;
    color:#484848;
    text-shadow:none;
}

.box_style_1.nwbx-style2 label {
    font-size: 19px;
    line-height: 30px;
    font-weight:300;
    font-family: 'Neue Frutiger W01', sans-serif;
    color: #8e8e8e;
    text-align: justify;
    text-transform:capitalize;
    padding: 10px 0px 5px;
}
.box_style_1.nwbx-style2 .form-control {
    display: block;
    width: 100% !important;
    padding: 15px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: none !important;  
    border-radius: 0 !important;
}
.col-md-5.no-pad {
    padding: 0;
}
.box_style_1.nwbx-style2 .btn_1.medium {
    padding: 14px 34px !important;
    font-size: 14px;
    text-align: center;
    padding: 15px 0;
    margin: 15px 0;
}
.box_style_1.nwbx-style2 .btn_1 {
    border: none;
    font-size: 24px !important;
    line-height: 30px;
    font-weight:500;
    font-family: 'Neue Frutiger W01', sans-serif !important;
    color: #fff;
    background:#ee3668 !important;
    cursor: pointer;
    padding: 7px 20px;
    display: inline-block;
    outline: none;
    font-size: 12px;
    border-radius:0 !important;
    text-transform:capitalize !important;
}
.box_style_1.nwbx-style2 p {
    font-size: 13px;
    text-transform: none;
    font-style: oblique;
}
.box_style_1.nwbx-style2 textarea.form-control {
    height: 180px;
}
nav.no-menu {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    float: right;
}
section.blw-mnu{
    position: relative;
    min-height: 40px;
    clear: both;
    top: 75px;
    background: #fff;
    z-index: 9999;
    padding: 30px 0;
}

h3.blow-mnu {
    font-size: 28px;
    font-weight: 300;
    color: #737373;
    font-family: 'Neue Frutiger W01', sans-serif !important;
}
.row.ads {
    width: 90%;
    margin: 80px auto 0 auto;
}
ul.acom-icon {
    list-style: none;
    padding: 6px 0;
}
ul.acom-icon li {
    padding: 7px 0;
    font-size: 17px;
    font-style: oblique;
    color: #757575;
}
ul.ads-icn { padding:6px 0;}
ul.ads-icn li {
    font-size: 17px;
    line-height: 26px;
    list-style: none;
    color: #757575;
}
.tour_list_desc h3 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
}
ul.acom-icon i {
    font-weight: bold;
    color: #818286;
}
ul.ads-icn li i {
    font-size: 17px;
    line-height: 26px;
    font-weight: bold;
    color: #818286;
}
.img_list.nwlstimg img {
    width: 100%;
    height: Auto !important;
    position: absolute;
    left: 0;
}
.img_list.nwlstimg {
    overflow: hidden;
    min-height: 320px !important;
    text-align: center;
    position: relative;
}
.strip_all_tour_list.wow.fadeIn.nwstbrdr {
    border: 1px solid #b7b7b7;
    box-shadow:none !important;
}
.tour_list_desc.nwdesc {
    height: auto !important;
    padding: 10px 20px 0 0 !important;
}
.price h4 {
    text-align: center;
    font-size: 30px;
    color: #f36;
    font-weight: bold;
}
.chngs {

    text-align: center;
}
.price_list div.price {

    vertical-align: middle;
    padding: 40% 0 0;

}
.price_list div.chngs {

    vertical-align: middle;
    padding: 40% 0 0;
}
span.fntsml {
    font-size: 14px;
    font-style:oblique;
}
ul.ftmenu li {
    display: inline-block;
    padding: 0px 40px;
    color: #b7b7b7;
    font-size: 17px;
}
p.enq-cpywrt {
    font-size: 17px;
    color: #b7b7b7;
}
.enqry-footer {
    padding: 40px 0 20px;
    border-top: 1px solid #b7b7b7;
}
iframe {
    position:initial;
}
@media (max-width: 767px) {
    
.titl-nwstl h3 {
    font-size: 2em !important;
}
    .slid-txt span {
        text-align: center;
        font-size: 21px;
        font-family: 'Neue Frutiger W01', sans-serif !important;
        padding: 10px;
        line-height: 50px;
        font-style: oblique;
    }

    .slid-txt h1 {
        font-size: 50px !important;
    }
    .parallax-content-2 {
        position: absolute;
        left: 0;
        top: 110px !important;
        z-index: 999;
        padding: 18px 0 20px 0;
        color: #fff;
        font-size: 13px;
        width: 100%;
    }
}